.AppleDouble
.LSOverride
.DS_Store

Icon

._*

.Spotlight-V100
.Trashes

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

__pycache__/
*.py[cod]

*.so

.Python
/api/utils.py
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.vscode
venv
main/media/*
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

docs/_build/

target/

*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
*.sqlite3