@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import url('../fonts/lg.eot');
@import url('../fonts/lg.svg');
@import url('../fonts/lg.ttf');
@import url('../fonts/lg.woff');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  display: flex;
}

ul {
  padding-left: 20px;
}

form {
  margin-top: 40px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  border: 1px solid #ffffff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn {
  width: 100px;
  height: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #242582;
}

.sidebar-mobile {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 16px rgba(0,0,0,.08);
  background-color: #242582;
}

.sidebar-mobile .logo {
  width: auto;
  display: flex;
  align-items: center;
}

.sidebar-mobile .topbar {
  padding: 0 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-mobile .logo__title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.sidebar-mobile .logo__image {
  width: auto;
  height: 70px;
}

.sidebar-desktop {
  position: fixed;
  z-index: 1;
  padding: 22px 0;
  width: 300px;
  height: 100vh;
  box-shadow: 0 2px 16px rgba(0,0,0,.08);
  background-color: #242582;
  overscroll-behavior: none;
}

.sidebar-desktop .sidebar__contact {
  padding: 0 18px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.sidebar-desktop .sidebar__contact .fa {
  margin-right: 10px;
}

.sidebar-desktop .logo {
  padding: 0 18px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.sidebar-desktop .logo__title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.sidebar-desktop .logo__image {
  margin-right: 10px;
  width: 70px;
  height: auto;
}

.sidebar-desktop .nav {
  margin-top: 40px;
}

.sidebar-desktop .nav .nav__link {
  padding: 12px 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  transition: background-color .2s linear;
}

.sidebar-desktop .nav .nav__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-desktop .nav .nav__link--bright {
  padding: 16px 18px;
  color: #272727;
  background-color: #ffe400;
}

.sidebar-desktop .nav .nav__link--bright:hover {
  background-color: #ffe400;
}

.sidebar-desktop .nav .nav__link--shifted {
  padding-left: 35px;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-desktop .nav .nav__link--shifted2 {
  padding-left: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}

.content {
  position: relative;
  padding: 30px 40px 30px 340px;
  height: 100%;
  max-width: 100%;
  flex: 1;
}

.content__title {
  margin-bottom: 20px;
  color: #222222;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  text-align: center;
}

.content__subtitle {
  color: #222222;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  text-align: center;
}

.content__info {
  margin-bottom: 8px;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.partners {
  margin: 20px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.partners-card {
  padding: 28px 24px;
  margin: 20px;
  max-width: calc(50% - 40px);
  flex: 1 1 calc(50% - 40px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
  box-shadow: 0 2px 16px rgba(0,0,0,.08);
  transition: box-shadow 0.2s linear;
}

.partners-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,.16);
}

.partners-card__logo {
  margin-bottom: 20px;
  margin-right: 20px;
  width: auto;
  height: 50px;
}

.partners-card__info {
  margin-bottom: 20px;
}

.partners-card__title {
  margin-bottom: 8px;
  color: #222222;
  font-size: 20px;
  font-weight: 500;
}

.partners-card__description {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.partners-card__link {
  width: 100%;
  color: #242582;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: right;
}

.swiper {
  margin: 20px 0 40px 0;
}

.swiper__image {
  margin: 0 auto;
  width: auto;
  max-height: 500px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
}

.about-container__info {
  margin-right: 100px;
  max-width: calc(70% - 100px);
}

.about-container__image {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.cert {
  margin: 20px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.cert__container {
  margin: 20px;
  max-width: calc(25% - 40px);
  display: block;
  flex: 1 1 calc(25% - 40px);
  border-radius: 4px;
  box-shadow: 0 2px 16px rgba(0,0,0,.08);
  transition: box-shadow 0.2s linear;
}

.cert__image {
  width: 100%;
  height: auto;
}

.contacts {
  margin: 20px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.contacts-card {
  margin: 20px;
  max-width: calc(33% - 40px);
  flex: 1 1 calc(33% - 40px);
  border-radius: 4px;
  box-shadow: 0 2px 16px rgba(0,0,0,.08);
  transition: box-shadow 0.2s linear;
}

.contacts-card__title {
  margin-top: 12px;
  margin-bottom: 8px;
  color: #222222;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.contacts-card__link {
  margin-bottom: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242582;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.contacts-card__link .fa {
  margin-right: 10px;
}

.grid {
  margin: 16px -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid__item {
  margin: 16px;
  width: calc(25% - 32px);
}

.item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 16px rgba(0,0,0,.08);
  transition: box-shadow 0.2s linear;
}

.item-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,.16);
}

.item-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-card__info {
  padding: 18px 12px;
}

.item-card__title {
  overflow: hidden;
  margin-bottom: 8px;
  height: 44px;
  display: block;
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.item-card__description {
  overflow: hidden;
  display: block;
  height: 70px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.item-card__price {
  margin-top: 8px;
  display: block;
  color: #222222;
  font-size: 15px;
  font-weight: 900;
}

.item-card__price--inline {
  margin-right: 10px;
  display: inline-block;
}

.item-card__price--canceled {
  position: relative;
}

.item-card__dash {
  position: absolute;
  top: 5px;
  left: -5px;
  height:4px;
  width: 120%;
  background-color: #ffe400;
}

.item-card__sale {
  position: absolute;
  padding: 6px 12px;
  top: 10px;
  right: 10px;
  color: #222222;
  font-size: 15px;
  font-weight: 900;
  border-radius: 14px;
  background-color: #ffe400;
}

.modal .item-card__title {
  overflow: visible;
  height: auto;
}

.modal .item-card__description {
  overflow: visible;
  height: auto;
}

@media (max-width: 991.98px) {
  .grid__item {
    margin: 16px;
    width: calc(50% - 32px);
  }
}

@media (min-width: 767.98px) {
  .sidebar-mobile {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .sidebar-desktop {
    display: none;
  }

  .content {
    margin-top: 70px;
    padding: 30px 14px;
  }

  .content__title {
    font-size: 24px;
  }
  
  .content__subtitle {
    font-size: 20px;
  }
  
  .content__info {
    font-size: 14px;
  }

  .partners-card__title {
    font-size: 18px;
  }

  .partners-card__description {
    font-size: 14px;
  }

  .partners-card__link {
    font-size: 12px;
  }

  .partners-card {
    overflow: hidden;
    margin: 14px 0;
    max-width: 100%;
    flex: 1 1 100%;
  }
  
  .item-card {
    margin: 14px 0;
    max-width: 100%;
    flex: 1 1 100%;
  }

  .swiper__image {
    width: 100%;
    height: auto;
  }

  .about-container__info {
    margin-right: 0;
    max-width: 100%;
  }
  
  .about-container__image {
    display: none;
  }

  .cert__container {
    margin: 20px;
    max-width: calc(50% - 40px);
    flex: 1 1 calc(50% - 40px);
  }
  
  .contacts-card {
    margin: 20px;
    max-width: 100%;
    flex: 1 1 100%;
  }

  .grid {
    margin: 0;
  }
  
  .grid__item {
    margin: 16px 0;
    width: 100%;
  }
}