{% extends 'base.html' %} {% block content %}
<h1 class="content__title">О компании</h1>
<div class="about-container">
  <div class="about-container__info">
    <p class="content__info">
      Торгово-монтажная организация ГК «Системы Безопасности» занимается
      продажей и установкой оборудования, а также обслуживанием компаний с 1997
      года. Услуги предоставляются не только по Тюменской области, но и по всей
      России. Сотрудники организации - специалисты в области:
    </p>
    <ul class="content__info">
      <li>проектирования с утверждением в соответствующих инстанциях;</li>
      <li>монтажа, наладки, ремонта и технического обслуживания систем;</li>
      <li>сдачи работ в соответствующих инстанциях;</li>
      <li>устройства наружных инженерных сетей и коммуникаций.</li>
    </ul>
    <p class="content__info">
      За период деятельности нашими партнерами в работе были такие предприятия,
      как: ОАО «Тюменьмежрайгаз», ОАО КБ «СОЦГОРБАНК», ПАО «ГЕОТЕК
      Сейсморазведка», АО «Газпромбанк, ОАО «Аэропорт Сургут», ФБУ
      «Исправительная колония №1», ООО «Технострой-Инвест», ООО «Электрика»,
      ФГУН ТНИИКИП Роспотребнадзора, ГЛПУ ТО ГРАДОСТРОИТЕЛЬ, ЗАО "Трест
      Тюменьгоргражданстрой", ОАО "Тюменнефтегазсвязь", ЗАО "Тюменские
      авиадвигатели",ООО Компания "Инвестпроект", ООО УПК "Автомобилист", УВД
      Калининского АО г.Тюмени, ЗАО "Роста", ООО "Атлант", ООО "Теннисный клуб",
      ООО "КСА ДОЙТАГ Раша", МОУ Каменская средняя общеобразовательная школа,
      АОУ СПО Тюменский колледж транспорта, ОАО «Тюмень-АвтоВАЗ», ЗАО
      «Тюменьпромсервис», ООО «Сибмоторс», ООО «Фарммедсервис», МАДОУ Каменский
      детский сад «Пчелка», ЗАО «НТПИ ТИ», ЗАО «НъюКом», ОАО «Рубикон»,
      Администрация Каменского сельского поселения, МОУ Горьковская СОШ, ООО
      "Форт-Диалог", ТЦ «Лента», Промышленная база п.Ханымей, Многоквартирные
      дома в мкрн. Коротчаево , Завод асфальтобетона в г.Пурпэ и многие другие
      предприятия, от которых мы имеем хорошие отзывы о нашей работе.
    </p>
  </div>
  <img
    src="https://previews.123rf.com/images/yommy8008/yommy80081707/yommy8008170700064/82675767-vertical-photo-of-single-small-kitten-cat-sits-on-tile-in-herbs-garden-with-thyme-in-front-and-chive.jpg"
    alt=""
    class="about-container__image"
  />
</div>
<div class="cert">
  {% for item in cert %}
  <a href={{ item.image.url }} class="cert__container">
    <img src={{ item.image.url }} alt="" class="cert__image" />
  </a>
  {% endfor %}
</div>
{% endblock %}