{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>ГК "Системы безопасности - надежный помощник в охране объектов!"</title>
    <meta name="description" content="Охраняем предприятия и продаем оборудование с 1997 года. Сотрудничаем с изготовителями, что гарантирует безопасность объектов. Действуют акции! Доставка от 3000 бесплатная!" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/lightgallery.min.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(63739573, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/63739573" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>
  <body>
    <div class="sidebar-mobile">
      <div class="topbar">
        <a href="{% url 'index' %}" class="logo">
          <img src="{% static 'logo.png' %}" alt="" class="logo__image">
          <span class="logo__title">Системы<br />безопасности</span>
        </a>
        <span class="toggle">
          <i class="fa fa-fw fa-bars" aria-hidden="true" style="margin-right: 20px; color: #ffffff; font-size: 30px; width: 20px;"></i>
        </span>
      </div>
      <div id="menu-nav-mobile" hidden>

        <div class="mobile-nav">
          <a href="tel:+73452302939" class="mobile-nav__contact">
            <i class="fa fa-fw fa-mobile" aria-hidden="true" style="font-size: 30px; width: 20px;"></i>
            +7 (3452) 30-29-39
          </a>
          <a href="mailto:fb2007.71@mail.ru" class="mobile-nav__contact">
            <i class="fa fa-fw fa-envelope" aria-hidden="true" style="font-size: 20px; width: 20px;"></i>
            fb2007.71@mail.ru
          </a>
          <a href="https://2gis.ru/tyumen/inside/1830223003800236/firm/1830115629608897?m=65.495513%2C57.127394%2F16" target="_blank" class="mobile-nav__contact">
            <i class="fa fa-fw fa-map-marker" aria-hidden="true" style="font-size: 25px; width: 20px;"></i>
            Московский тракт, 179/1
          </a>
        </div>
        <form method="GET" action="{% url 'search' %}">
          <input class="input input--small" id="query" name="query" type="text" placeholder="Введите название" required/>
          <button type="submit" class="btn">Поиск</button>
        </form>
        <div class="mobile-list">
          <nav class="nav">
            <a href="{% url 'sale' %}" class="nav__link nav__link--bright">
              <i class="fa fa-fw fa-lg fa-exclamation" aria-hidden="true" style="margin-right: 10px;"></i>
              Распродажа
            </a>
            <a href="#!" id="catalog-m" class="nav__link">
              <i class="fa fa-fw fa-lg fa-cog fa-spin" aria-hidden="true" style="margin-right: 10px;"></i>
              Каталог оборудования
              <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 15px; width: 20px; margin-left: 10px;"></i>
            </a>
            <div id="catalog-m-dropdown" class="nav__dropdown" hidden>
              {% for item in categories %}
                {% if item.nested.all|length > 0 %}
                <a
                  href="#!"
                  class="nav__link nav__link--shifted nav--nested"
                  data-dropdown="dropdown-m-{{ item.id }}"
                >
                  {{ item.title }}
                  <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 15px; width: 20px; margin-left: 10px;"></i>
                </a>
                <div id="dropdown-m-{{ item.id }}" class="nav__dropdown" hidden>
                  {% for nested_item in item.nested.all %}
                  <a
                    href="{% url 'category' nested_item.id  %}"
                    class="nav__link nav__link--shifted2"
                  >
                    {{ nested_item.title }}
                  </a>
                  {% endfor %}
                </div>
                {% else %}
                <a href="{% url 'category' item.id %}" class="nav__link nav__link--shifted">
                  {{ item.title }}
                </a>
                {% endif %}
              {% endfor %}
            </div>
            <a href="{% url 'about' %}" class="nav__link">
              <i class="fa fa-fw fa-lg fa-info-circle" aria-hidden="true" style="margin-right: 10px;"></i>
              О компании
            </a>
            <a href="{% url 'delivery' %}" class="nav__link">
              <i class="fa fa-fw fa-lg fa-truck" aria-hidden="true" style="margin-right: 10px;"></i>
              Доставка
            </a>
            <a href="{% url 'setup' %}" class="nav__link">
              <i class="fa fa-fw fa-lg fa-chain-broken" aria-hidden="true" style="margin-right: 10px;"></i>
              Монтаж
            </a>
            <a href="{% url 'contacts' %}" class="nav__link">
              <i class="fa fa-fw fa-lg fa-address-book" aria-hidden="true" style="margin-right: 10px;"></i>
              Контакты
            </a>
          </nav>
        </div>
      </div>
    </div>
    <div class="sidebar-desktop">
      <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'logo.png' %}" alt="" class="logo__image">
        <span class="logo__title">Системы безопасности</span>
      </a>

      <a href="tel:+73452302939" class="sidebar__contact">
        <i class="fa fa-fw fa-mobile" aria-hidden="true" style="font-size: 30px; width: 20px;"></i>
        +7 (3452) 30-29-39
      </a>
      <a href="mailto:fb2007.71@mail.ru" class="sidebar__contact">
        <i class="fa fa-fw fa-envelope" aria-hidden="true" style="font-size: 20px; width: 20px;"></i>
        fb2007.71@mail.ru
      </a>
      <a href="https://2gis.ru/tyumen/inside/1830223003800236/firm/1830115629608897?m=65.495513%2C57.127394%2F16" target="_blank" class="sidebar__contact">
        <i class="fa fa-fw fa-map-marker" aria-hidden="true" style="font-size: 25px; width: 20px;"></i>
        Московский тракт, 179/1
      </a>

    <form method="GET" action="{% url 'search' %}">
      <input class="input input--small" id="query" name="query" type="text" placeholder="Введите название" required/>
      <button type="submit" class="btn">Поиск</button>
    </form>

    <nav class="nav">
      <a href="{% url 'sale' %}" class="nav__link nav__link--bright">
        <i class="fa fa-fw fa-lg fa-exclamation" aria-hidden="true" style="margin-right: 10px;"></i>
        Распродажа
      </a>
      <a href="#!" id="catalog" class="nav__link">
        <i class="fa fa-fw fa-lg fa-cog fa-spin" aria-hidden="true" style="margin-right: 10px;"></i>
        Каталог оборудования
        <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 15px; width: 20px; margin-left: 10px;"></i>
      </a>
      <div id="catalog-dropdown" class="nav__dropdown" hidden>
        {% for item in categories %}
          {% if item.nested.all|length > 0 %}
          <a
            href="#!"
            class="nav__link nav__link--shifted nav--nested"
            data-dropdown="dropdown-{{ item.id }}"
          >
            {{ item.title }}
            <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 15px; width: 20px; margin-left: 10px;"></i>
          </a>
          <div id="dropdown-{{ item.id }}" class="nav__dropdown" hidden>
            {% for nested_item in item.nested.all %}
            <a
              href="{% url 'category' nested_item.id %}"
              class="nav__link nav__link--shifted2"
            >
              {{ nested_item.title }}
            </a>
            {% endfor %}
          </div>
          {% else %}
          <a href="{% url 'category' item.id %}" class="nav__link nav__link--shifted">
            {{ item.title }}
          </a>
          {% endif %}
        {% endfor %}
      </div>
      <a href="{% url 'about' %}" class="nav__link">
        <i class="fa fa-fw fa-lg fa-info-circle" aria-hidden="true" style="margin-right: 10px;"></i>
        О компании
      </a>
      <a href="{% url 'delivery' %}" class="nav__link">
        <i class="fa fa-fw fa-lg fa-truck" aria-hidden="true" style="margin-right: 10px;"></i>
        Доставка
      </a>
      <a href="{% url 'setup' %}" class="nav__link">
        <i class="fa fa-fw fa-lg fa-chain-broken" aria-hidden="true" style="margin-right: 10px;"></i>
        Монтаж
      </a>
      <a href="{% url 'contacts' %}" class="nav__link">
        <i class="fa fa-fw fa-lg fa-address-book" aria-hidden="true" style="margin-right: 10px;"></i>
        Контакты
      </a>
    </nav>
    </div>
    <div class="content">
      {% block content %} {% endblock %}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script
      type="text/javascript"
      src="{% static 'scripts/lightgallery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'scripts/index.js' %}"
    ></script>
  </body>
</html>
