{% extends 'base.html' %} {% block content %}
<h1 class="content__title">{{title}}</h1>
<div class="grid">
{% for item in items %}
  <a href="#item{{ item.id }}" rel="modal:open" class="item-card grid__item">
    <img src={{ item.image.url }} alt={{ item.title }} class="item-card__image">
    <div class="item-card__info">
      <span class="item-card__title">{{ item.title }}</span>
      <span class="item-card__description">{{ item.description }}</span>
      {% if item.size %}
        <span class="item-card__price">Размер: {{ item.size }}</span>
      {% endif %}
      {% if item.cost_sale > 0 %}
        <span class="item-card__price item-card__price--inline item-card__price--canceled">
          {{ item.cost }} ₽
          <span class="item-card__dash"></span>
        </span>
        <span class="item-card__price item-card__price--inline">{{ item.cost_sale }} ₽</span>
      {% else %}
        <span class="item-card__price">{{ item.cost }} ₽</span>
      {% endif %}

      {% if item.cost_sale > 0 %}
        <span class="item-card__sale">-{{ item.get_sale }} ₽</span>
      {% endif %}
    </div>
  </a>
  <div id="item{{ item.id }}" class="modal">
    <span class="item-card__title">{{ item.title }}</span>
    <span class="item-card__description">{{ item.description }}</span>
    {% if item.size %}
      <span class="item-card__price">Размер: {{ item.size }}</span>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}