{% extends 'base.html' %} {% block content %}
<h1 class="content__title">Контакты</h1>
<div class="contacts">
  <div class="contacts-card">
    <p class="contacts-card__title">Тюмень</p>
    <a href="tel:+73452302939" class="contacts-card__link">
      <i class="fa fa-fw fa-mobile" aria-hidden="true" style="font-size: 30px; width: 20px;"></i>
      +7 (3452) 30-29-39
    </a>
    <a href="#!" class="contacts-card__link">
      <i class="fa fa-fw fa-map-marker" aria-hidden="true" style="font-size: 20px; width: 20px;"></i>
      Московский тракт, 179/1
    </a>
    <br />
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aec804ec94ef7c12214a624bd9a471540870e4b120cef5f28fa4e5ede4272b4bb&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <div class="contacts-card">
    <p class="contacts-card__title">Уват</p>
    <a href="tel:+73456121255" class="contacts-card__link">
      <i class="fa fa-fw fa-mobile" aria-hidden="true" style="font-size: 30px; width: 20px;"></i>
      +7 (34561) 212-55
    </a>
    <a href="#!" class="contacts-card__link">
      <i class="fa fa-fw fa-map-marker" aria-hidden="true" style="font-size: 20px; width: 20px;"></i>
      Ленина, 77
    </a>
    <br />
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A64fce92287acee0f888611061fb9aba07ea7ec99581345c1c6bf89fea2552380&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
  <div class="contacts-card">
    <p class="contacts-card__title">Ялуторовск</p>
    <a href="tel:+73453524179" class="contacts-card__link">
      <i class="fa fa-fw fa-mobile" aria-hidden="true" style="font-size: 30px; width: 20px;"></i>
      +7 (34535) 241-79
    </a>
    <a href="#!" class="contacts-card__link">
      <i class="fa fa-fw fa-map-marker" aria-hidden="true" style="font-size: 20px; width: 20px;"></i>
      Свободы, 232</a>
    <br />
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae6a738a4eb8dbb94ff75b934b83e819ae35e45bd19c8b55a7d046f77d175b7c6&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</div>
{% endblock %}
