{% extends 'base.html' %} {% block content %}
<h1 class="content__title">Монтаж</h1>
<p class="content__info">
  Проектирование с утверждением в соответствующих инстанциях со сдачей работ соответствующим инстанциям:
</p>
<ul class="content__info">
  <li>Охранно-пожарной сигнализации (ОПС);</li>
  <li>Видеонаблюдения;</li>
  <li>Ограничения доступа;</li>
  <li>Оповещения;</li>
  <li>Системы пожаротушения;</li>
  <li>Системы дымоудаления.</li>
</ul>
<br />
<p class="content__info">
  Монтаж, наладка, ремонт и техническое обслуживание систем:
</p>
<ul class="content__info">
  <li>Охранно-пожарной сигнализации (ОПС);</li>
  <li>Видеонаблюдения;</li>
  <li>Ограничения доступа;</li>
  <li>Оповещения;</li>
  <li>Системы пожаротушения;</li>
  <li>Системы дымоудаления.</li>
</ul>
<br />
<p class="content__info">
  Устройство наружных инженерных сетей и коммуникаций:
</p>
<ul class="content__info">
  <li>Прокладка сетей электроснабжения до 35 кВ включительно;</li>
  <li>Прокладка линий связи, радио, телевидения (магистральных, электрических, волокно-оптических, воздушных линий связи);</li>
  <li>Локально-вычислительные сети, пуско-наладочные работы;</li>
  <li>Монтаж технологического оборудования.</li>
</ul>
<br />
<p class="content__info">
  Эффективная работа охраны объектов возможна только при условии правильной установки любой системы сигнализаций. Поэтому необходимо учитывать некоторые важные моменты в монтаже, к примеру, охранно-пожарной сигнализации (ОПС). Огромный плюс такой сигнализации - единый блок программного и охранного обеспечения. ОПС, как правило, самостоятельно проводит диагностику устройства, контролирует попытки взлома, ведет круглосуточный контроль территории (объекта), имеет резервную систему электропитания, оповещает на начальном этапе возгорания и точно определяет его место.
</p>
<p class="content__info">
  В первую очередь, для ОПС должен быть установлен резерв для возможных будущих дополнений и оптимальной работы устройства, в идеале его емкость составляет 25% от общей системы. Проще всего монтаж производится в модульных системах.
</p>
<p class="content__info">
  Что касается видеонаблюдения, на сегодняшний день это самый эффективный способ защитить объект. По статистике, после установки видеонаблюдения риски кражи, взлома и прочих правонарушений снижаются на 80%. Сложность монтажа в таком случае будет зависеть от функционала оборудования.
</p>
<p class="content__info">
  ГК "Системы безопасности" учитывает все трудности установки всех систем сигнализаций, тем самым обеспечивает эффективную охрану предприятий круглосуточно. Наши специалисты подберут для вас оборудование под ключ, проведут установку. Если вы купили оборудование самостоятельно - не проблема, мы все установим!
</p>
<p class="content__info">
  Установка комплекта из регистратора и 4 аналоговых камер - от 7000 рублей.
</p>
<p class="content__info">
  Монтаж и подключение одной IP-камеры - от 3000 рублей.
</p>
<p class="content__info">
  Монтаж и подключение двух IP-камер - от 5000 рублей.
</p>
<p class="content__info">
  Монтаж и подключение трёх IP-камер - от 7000 рублей.
</p>
<p class="content__info">
  Монтаж и подключение четырёх и более IP-камер -  2000 рублей за 1 камеру.
</p>
<p class="content__info">
  Подробности акции узнавайте по телефону: +7(3452)30-29-39 или в офисе по адресу: Московский тракт, 179/1.
</p>
{% endblock %}